In [1]:
import pandas as pd
data = [10, 20, 30, 40, 50]
Series = pd.Series(data)
print("one dimensional array-like object(Pandas Series):")
print(Series)

one dimensional array-like object(Pandas Series):
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [2]:
import pandas as pd
data = pd.Series([10, 20, 30, 40, 50])
print("Pandas Series:")
print(data)
py_list=data.tolist()
print(py_list)
print("\nType of the converted object:", type(py_list))

Pandas Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64
[10, 20, 30, 40, 50]

Type of the converted object: <class 'list'>

In [4]:
import pandas as pd
import numpy as np

# Given dictionary data
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
             'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no',
                'yes', 'yes', 'no', 'no', 'yes']
}  # <-- Added missing closing brace here

# Custom labels
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Create DataFrame with index labels
df = pd.DataFrame(exam_data, index=labels)

# Display DataFrame
print("Pandas DataFrame with index labels:")
print(df)

Pandas DataFrame with index labels:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [5]:
import pandas as pd
import numpy as np
# Given dictionary data
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
             'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
      'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no',
                'yes', 'yes', 'no', 'no', 'yes']
}
# Custom labels
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
# Create DataFrame with index labels
df = pd.DataFrame(exam_data, index=labels)
# Display DataFrame
print("Original dataframe")
print(df)
df.loc[df['name']== 'James','name']='Suresh'
print("\nDataframe after changing 'James' to 'suresh:")
print(df)

Original dataframe
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Dataframe after changing 'James' to 'suresh:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d     Suresh    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [6]:
import pandas as pd
import numpy as np
# Original Data
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'Suresh', 'Emily',
             'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no',
                'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a','b','c','d','e','f','g','h','i','j']
df = pd.DataFrame(exam_data, index=labels)
#  Insert a new column
df['age'] = [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
print(df)

        name  score  attempts qualify  age
a  Anastasia   12.5         1     yes   21
b       Dima    9.0         3      no   22
c  Katherine   16.5         2     yes   23
d     Suresh    NaN         3      no   24
e      Emily    9.0         2      no   25
f    Michael   20.0         3     yes   26
g    Matthew   14.5         1     yes   27
h      Laura    NaN         1      no   28
i      Kevin    8.0         2      no   29
j      Jonas   19.0         1     yes   30

In [7]:
import pandas as pd
import numpy as np
# Original Data
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'Suresh', 'Emily',
             'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no',
                'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a','b','c','d','e','f','g','h','i','j']
df = pd.DataFrame(exam_data, index=labels)
col_list =df.columns.tolist()
print("List of column headers:")
print(col_list)

List of column headers:
['name', 'score', 'attempts', 'qualify']